<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.UserMapper">
    <select id="select" resultType="mybatis.bean.User">
        select * from user_info where id = #{id}
    </select>

    <insert id="insert" parameterType="mybatis.bean.User" useGeneratedKeys="true">
        insert into user_info (firstName, lastName) VALUE (#{firstName}, #{lastName})
    </insert>
</mapper>